table,th,td{
  border-style: solid;
  border-width: thin;
  border-collapse: collapse;
  align:center;
}
tr:hover {background-color:#FF9800 ;}
body{
  font-family: cursive;
  background-color:  #FFC107 ;
}
a{
  text-decoration: none;
  color: black;
  font-size: 30px;
}
a:link{
  background-color: #FFC107 ;
}
a:hover{
  background-color: #FF9800;
}
h1{
  text-align: center;
  font-weight: bolder;
  font-size: 50px;
}
