<h2>{{ list.title }}</h2>
<table>
  <thead>
    <th ng-if="!list.foundNothing()">Short Name</th>
    <th ng-if="!list.foundNothing()">Name</th>
    <th ng-if="!list.foundNothing()">Description</th>
    <th ng-if="!list.foundNothing()">Remove items</th>
  </thead>
  <tbody>
    <tr ng-repeat="item in list.foundItems">
      <td>{{item.short_name}}</td>
      <td>{{item.name}}</td>
      <td>{{item.description}}</td>
      <td><button ng-click="list.onRemove({index: $index});">Don't want this one</button></td>
    </tr>
  </tbody>
</table>
<div class="emptyMessage" ng-if="list.foundNothing()">Nothing found!</div>
