<!DOCTYPE html>
<html ng-app="NarrowItDownApp">
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title></title>
  </head>
  <body>
    <h1>Narrow Down your Food Item</h1>
    <div ng-controller="NarrowItDownController as list">
      <div>
      <input type="text" placeholder="Search term" ng-model="list.searchTerm">
      </div>
      <div>
        <button ng-click="list.getMenu();">Narrow It Down For Me!</button>
      </div>
      <br><br>
      <found-items found-items="list.found" on-remove="list.remove(index)" title="{{list.title}}">
      </found-items>
    </div>
  </body>
</html>
